<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Interface API</title>
</head>
<body>
    <div class="container_v">
    <form action="/fetch_and_display" method="post" enctype="application/x-www-form-urlencoded">
        <h1>Carbon Interface API Form</h1>

        <label for="customer_name">Name :</label>
        <input type="text" name="customer_name" required>

        <div class="container_h">
        <label for="vehicle_make">Brand :</label>
        <input type="text" name="vehicle_make" required>

        <label for="vehicle_model">Model : </label>
        <input type="text" name="vehicle_model" required>
        </div>
        
        <label for="year">Year :</label>
        <input type="text" name="year" required>

        <label for="distance_value">Distance Value:</label>
        <div class="container_h">
            <input type="number" name="distance_value" min="0" step="0.1" required>

            <select name="distance_unit">
                <option value="km">km</option>
                <option value="mi">miles</option>
            </select>
        </div>
        
        <label for="vehicle_model_id">Vehicle Model ID:</label>
        <input type="text" name="vehicle_model_id" required>
    
        <input type="submit" value="Submit">
    </form>
    <div class="filler"></div>
    <form action="/alldetails" method="get">
        <input type="submit" value="All Details">
    </form>
    
    </div>
</body>
</html>
