<!-- temp.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Interface API</title>
</head>
<body>
    <div class="container_v">
        <form action="/fetch_and_display" method="post" enctype="application/x-www-form-urlencoded">
            <h1>{% block form_head %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </form>
        <div class="filler"></div>
        {% block extra %}{% endblock %}
    </div>
</body>
</html>
